{% extends 'base.html' %}

{% block title %}
    Sign-Up Page
{% endblock %}

{% block extraJavaScriptFiles %}
    <!-- <script src="{{ url_for('static', filename='js/form_validation.js') }}" defer></script> -->
{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center text-center">
        <section>
            <h1>Sign-Up Page</h1>
            <p class="fs-3">Welcome to the Sign-Up Page!</p>
        </section>
    </div>
    <div class="p-4">
        <form class="bg-light p-4 needs-validation" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Sign-Up Form</legend>
                <div class="form-floating mb-4">
                    {{ form.firstName(class="form-control form-control-lg fs-4", placeholder="John", required=True) }}
                    {{ form.firstName.label }}
                    <div class="invalid-feedback">
                        Please enter your first name.
                    </div>
                </div>
                <div class="form-floating mb-4">
                    {{ form.lastName(class="form-control form-control-lg fs-4", placeholder="Doe", required=True) }}
                    {{ form.lastName.label }}
                    <div class="invalid-feedback">
                        Please enter your last name.
                    </div>
                </div>
                <div class="form-floating mb-4">
                    {{ form.email(class="form-control form-control-lg fs-4", placeholder="johndoe@email.com", type="email", required=True) }}
                    {{ form.email.label }}
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>
                <div class="form-floating mb-4">
                    {{ form.password(class="form-control form-control-lg fs-4", placeholder="password", type="password", required=True) }}
                    {{ form.password.label }}
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>
                <div class="form-floating mb-4">
                    {{ form.confirmPassword(class="form-control form-control-lg fs-4", placeholder="password", type="password", required=True) }}
                    {{ form.confirmPassword.label }}
                    <div class="invalid-feedback">
                        Please enter matching passwords.
                    </div>
                </div>
                {{ form.submit(class="btn btn-primary px-4 fs-4", type="submit") }}      
            </fieldset>
        </form>
    </div>
{% endblock %}